dist/
node_modules/
*~
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
*.ipr
*.iws
out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
*.log
*.log*
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
custom_files
.DS_Store
package-lock.json