{% extends '../layout.html' %}

{% block content %}

<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
    <tr>
        <td width="100%" colspan="3" align="center" style="padding-bottom:10px;padding-top:25px;">
            <div class="contentEditableContainer contentTextEditable">
                <div class="contentEditable" align='center' >
                    <h2>Senha redefinida</h2>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td width="100">&nbsp;</td>
        <td width="400" align="center">
            <div class="contentEditableContainer contentTextEditable">
                <div class="contentEditable" align='left' >
                    <p >Olá, {{displayName}}:
                        <br/>
                        <br/>
                        A sua senha foi alterada com sucesso.<br/>
                        Se <strong>NÃO</strong> foi você quem fez essa alteração, por favor entre em contato conosco o mais rápido possível: {{contact}}
                    </p>
                </div>
            </div>
        </td>
        <td width="100">&nbsp;</td>
    </tr>
</table>